.Emergency_contact {
  background-color: #f3fafc;
  padding-top: 3em;
}
.ec-question {
  color: #27a3a0;
}
.ec-subtitle {
  color: #3f5d7d;
}
.ec-btn {
  width: 10em;
  padding: 0.5em;
  background-color: #27a3a0;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: #3f5d7d;
  }
}
.ec-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
