.slider_area_service {
  .single_slider_service {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media #{$mobile_device} {
      height: 420px;
    }
  }
}
.slider_bg_2_service {
  background-image: url(../img/banner/banner2.png);
}
.container-fluid.service-container {
  padding: 2em 0 !important;
}
.service_thumb {
  width: 100%;
  height: 400px;
  img {
    width: 100%;
    height: 400px;
  }
}
.service_info {
  width: 80%;
  padding: 0 2em;

  p {
    font-size: 17px;
    margin-top: 1em;
    letter-spacing: 0.5px;
  }
  .service_seemore {
    padding: 0.8em;
    width: 13em;
    border-radius: 10px;
    color: #ffff;
    font-weight: 700;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: #27a3a0;
  }
}
.img-right {
  padding: 7em 0;
}
.service_info_left {
    margin-left: 20%;
    width: 80%;
    padding: 0 2em;
  
    p {
      font-size: 17px;
      margin-top: 1em;
      letter-spacing: 0.5px;
    }
    .service_seemore {
      padding: 0.8em;
      width: 13em;
      border-radius: 10px;
      color: #ffff;
      font-weight: 700;
      letter-spacing: 0.8px;
      cursor: pointer;
      background-color: #27a3a0;
    }
  }
