.slider_area_service {
  .single_slider_service {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media #{$mobile_device} {
      height: 300px;
    }
  }
}
.slider_bg_2_service {
  background-image: url(../img/banner/banner2.png);
}
.container-fluid.service-container {
  padding: 2em 0 !important;
}
.service_thumb {
  width: 100%;
  height: 400px;
  img {
    width: 100%;
    height: 400px;
  }
}
.service-content-rigt {
  margin-bottom: 7em;
}

.service_info_right {
  width: 80%;
  padding: 0 2em;

  p {
    font-size: 17px;
    margin-top: 1em;
    letter-spacing: 0.5px;
  }
  .service_seemore {
    padding: 0.8em;
    width: 13em;
    border-radius: 10px;
    color: #ffff;
    font-weight: 700;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: #27a3a0;
  }
}

// responsive for content left
@media #{$mobile_device} {
  .container-fluid.service-container {
    padding: 0.3em 0 !important;
  }
  .service_thumb {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .service_info_right {
    width: 100%;
    h3 {
      font-size: 16px;
      padding-top: 1em;
    }
    .service_seemore {
      padding: 0.4em;
      width: 8em;
      border-radius: 10px;
      color: #ffff;
      font-weight: 700;
      letter-spacing: 0.4px;
      cursor: pointer;
      background-color: #27a3a0;
    }
  }
}
@media #{$mid_device} {
  .service_info_right {
    width: 100%;
    h3 {
      font-size: 18px;
      padding-top: 1em;
    }
  }
}
@media #{$tablet_device} {
  .service_info_right {
    width: 100%;
  }
  .service_thumb {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 300px;
    }
  }
}
@media #{$large_mobile} {
  .service_info_right {
    width: 100%;
  }
  .service_thumb {
    width: 100%;
    height: 400px;
    img {
      width: 100%;
      height: 400px;
    }
  }
}

// style for content left
.service_info_left {
  width: 80%;
  margin-left: 20%;
  padding: 0 2em;

  p {
    font-size: 17px;
    margin-top: 1em;
    letter-spacing: 0.5px;
  }
  .service_seemore {
    padding: 0.8em;
    width: 13em;
    border-radius: 10px;
    color: #ffff;
    font-weight: 700;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: #27a3a0;
  }
}

// responsive for content right
@media #{$mobile_device} {
  #column_order_1 {
    order: 2 !important;
  }
  #column_order_2 {
    order: 1 !important;
  }
  .container-fluid.service-container {
    padding: 0.3em 0 !important;
  }
  .service_thumb {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .service_info_left {
    width: 100%;
    margin-left: 0%;
    h3 {
      font-size: 16px;
      padding-top: 1em;
    }
    .service_seemore {
      padding: 0.4em;
      width: 8em;
      border-radius: 10px;
      color: #ffff;
      font-weight: 700;
      letter-spacing: 0.4px;
      cursor: pointer;
      background-color: #27a3a0;
    }
  }
}
@media #{$mid_device} {
  .service_info_left {
    width: 100%;
    margin-left: 0%;
    h3 {
      font-size: 18px;
      padding-top: 1em;
    }
  }
}
@media #{$tablet_device} {
  .service_info_left {
    width: 100%;
    margin-left: 0%;
  }
  .service_thumb {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 300px;
    }
  }
}
@media #{$large_mobile} {
  .service_info_left {
    width: 100%;
    margin-left: 0%;
  }
  .service_thumb {
    width: 100%;
    height: 400px;
    img {
      width: 100%;
      height: 400px;
    }
  }
}

#column_order_1 {
  order: 1;
}
#column_order_2 {
  order: 2;
}