.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
}
li.nav-item {
  margin-top: 3rem;
  padding: 8px 5px;
  cursor: pointer;
}

li.nav-item.active {
  padding: 8px 5px;
  cursor: pointer;
  border-bottom: 2px solid #27a3a0;
}
a.nav-link {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.26;
  letter-spacing: 0.4px;
  text-align: left;
  color: #3f5d7d;
}
a.nav-link:hover {
  color: #27a3a0;
}
.ph-header-phone {
  position: absolute;
  top: 0.3px;
  right: 6rem;
  width: 278.1px;
  height: 56.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27a3a0;
}
.ph-header-phone-text {
  font-family: OpenSans;
  font-size: 1.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.45;
  letter-spacing: 0.75px;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .ph-header-phone {
    display: none;
  }
}
